@model FindMyBook.Models.table_author

@{
    ViewBag.Title = "AuthorDetails";
    Layout = "~/Views/Shared/_Admin_Dashboard_Layout.cshtml";
}

<h2>AuthorDetails</h2>

<div>
    <h4>table_author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author_education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_of_published_books)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_published_books)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
