@model FindMyBook.ViewModels.CartViewModel

@{
    ViewBag.Title = $"{Model.BookName} Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-lg border-0 container-fluid body-content">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0 text-center">Confirm Your Order</h4>
    </div>
    <div class="row g-0">
        <!-- Book Image Section -->
        <div class="col-md-4">
            <div class="p-3 text-center">
                <img src="@Url.Content($"~/BookImages/{Model.BookImage}")"
                     class="rounded img-fluid shadow-sm"
                     style="height: 350px; object-fit: cover;"
                     alt="Cover of @Model.BookName" />
            </div>
        </div>
        <!-- Book Details Section -->
        <div class="col-md-8">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 fw-bold">Book Name:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.BookName)</dd>

                    <dt class="col-sm-4 fw-bold">Price:</dt>
                    <dd class="col-sm-8 text-success">@Html.DisplayFor(model => model.Price)</dd>

                    <dt class="col-sm-4 fw-bold">ISBN Number:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.IsbnNumber)</dd>

                    <dt class="col-sm-4 fw-bold">Published Date:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PublishedDate)</dd>

                    <dt class="col-sm-4 fw-bold">Language:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Language)</dd>

                    <dt class="col-sm-4 fw-bold">Pages:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Pages)</dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- Hidden Inputs -->
    <input type="hidden" id="CartId" value="@Model.CartId" />
    <input type="hidden" id="Price" value="@Model.Price" />
    <!-- Footer with Buttons -->
    <div class="card-footer d-flex justify-content-end bg-light">
        @Html.ActionLink("Confirm to Order", "Create", new { id = Model.CartId }, new { @class = "btn btn-success me-2 btnConfirmOrder" })
        @Html.ActionLink("Back to List", "Index", "Cart", new { @class = "btn btn-secondary btnBackToIndex" })
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("body").on("click", ".btnBackToIndex", function (e) {

            e.preventDefault();

            window.location.href = "/Cart/Index";
        })


        $("body").on("click", ".btnConfirmOrder", function (e) {
            e.preventDefault();

            const cartId = $("#CartId").val();
            const price = $("#Price").val();
            //console.log(typeof cartId)
            //const id = parseInt(cartId)
            //console.log(id);


            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "BookOrder")',
                data: { CartId: cartId, Price: price },
                success: function (response) {
                    // console.log(response);
                    const { status, message } = response;
                    const customerName = '@Session["CustomerName"]';

                    if (status == 404) {
                        Swal.fire({
                            title: "!",
                            text: message,
                            icon: "error"
                        });
                    } else if (status == 200) {
                        Swal.fire({
                            title: "Success!",
                            text: `Dear ${customerName}, ${message}`,
                            icon: "success"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = `/Payment/Checkout?cartId=${cartId}`;
                            }
                        });
                    } else {
                        Swal.fire({
                            title: "Good job!",
                            text: message,
                            icon: "error"
                        });
                    }

                }, error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }

            })

        })
    })
</script>