@model FindMyBook.Models.table_customer

@{
    ViewBag.Title = "Login";
}


<div class="container-fluid p-5 rounded-3 body-content" style="background-color: #e3f2fd; max-width: 600px">

    <h2 class="fw-semibold">Login</h2>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, htmlAttributes: new { @id = "customerLoginForm" }))
    {
        @Html.AntiForgeryToken()

<div class="">

    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.customer_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customer_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 mb-1 fw-semibold" })
        <div>
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control shadow-none", @placeholder = "Enter your email" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger d-block mt-1" })
        </div>
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.customer_password, htmlAttributes: new { @class = "control-label mb-1 col-md-2 fw-semibold" })
        <div>
            @Html.EditorFor(model => model.customer_password, new { htmlAttributes = new { @class = "form-control shadow-none", @placeholder = "Enter your password" } })
            @Html.ValidationMessageFor(model => model.customer_password, "", new { @class = "text-danger d-block mt-1" })
        </div>
    </div>

    <div class="form-group mt-4">
        <div class="col-md-offset-2">
            <input type="submit" value="Login" class="btn btn-primary w-100" />
        </div>
    </div>


    @* Error Message label *@
    @if (!string.IsNullOrEmpty(ViewBag.Notification as string))
    {
        <div class="form-group mt-4">
            <div class="col-md-offset-2">
                <label class="text-danger font-weight-bold">@ViewBag.Notification</label>
            </div>
        </div>
    }
</div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $(document).on("submit", "#customerLoginForm", function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                const formData = $(this).serialize();
                $.ajax({

                    type: 'POST',
                    data: formData,
                    url: '/Home/Login',
                    dataType: 'json',
                    success: function (response) {
                        //console.log(response);
                        const { status, message } = response;
                        if (status == "200") {
                            Swal.fire({
                                title: "Success!",
                                text: `Dear ${message}`,
                                icon: "success"
                            }).then((result) => {
                                if (result.isConfirmed == true) {
                                    $("#customerLoginForm")[0].reset();
                                    window.location.href = "/"

                                }
                            });
                        } else if (status == "401") {
                            Swal.fire({
                                title: "Login Error!",
                                text: message,
                                icon: "error"
                            })
                        }

                    }, error: function (xhr, status, error) {
                        console.log("Error: " + xhr.responseText)
                    }

                })

            })
        })
    </script>
}
